.blog-container {
  padding: 20px;
  display: flex;
  justify-content: center; /* Centers the container horizontally */
  align-items: flex-start;  /* Align items to the top */
  flex-direction: column;   /* Ensure content is stacked vertically */
  margin: 0 auto;
  max-width: 900px;         /* Increased max width for better layout */
  background-color: #ecdcec; /* Light Lavender background */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

h2 {
  color: #471dbf; /* Deep Blue for main headings */
  text-align: center; /* Center the main heading */
  margin-bottom: 20px;
}

.blog-container div {
  margin-bottom: 20px;
  padding: 15px;
  border-bottom: 1px solid #8c99ec; /* Soft Blue border for divs */
}

h3 {
  font-size: 1.5rem;
  color: #dd6fde; /* Vibrant Pink for subheadings */
  margin-bottom: 10px;
}

a {
  color: #54ddcd; /* Turquoise for links */
  text
