.footer {
  background-color: #522c7f; /* Dark Pink background */
  padding: 20px;
  text-align: center;
  border-top: 2px solid #dd6fde; /* Vibrant Pink border */
  height: 150px; /* Set consistent height like the header */
  width: 100%;
  box-sizing: border-box;
}

.footer-content {
  width: 100%;
  height: auto;
}

.footer-art-container {
  max-width: 200px; /* Control the size of the footer art */
  margin: 0 auto; /* Center the art */
}

.footer-art {
  width: 100%;
  height: auto;
  max-height: 100px; /* Adjust based on the size you want for the art */
}

.footer-tagline {
  font-size: 1.2rem;
  color: #ecdcec;
  margin-top: 10px;
}
