.footer {
  background-color: #522c7f; /* Dark Pink background */
  padding: 20px;
  text-align: center;
  border-top: 2px solid #dd6fde; /* Vibrant Pink border */
  width: 100%;
  box-sizing: border-box;
}

.footer-content {
  width: 100%;
  height: auto;
}

.footer-tagline {
  font-size: 1.2rem;
  color: #ecdcec;
  margin-top: 10px;
}








