/* Header styles */
.header {
  background-color: #AFCDE7;
  padding: 20px;
  text-align: center;
  border-bottom: 2px solid #A67B5B;
}

.header-title {
  font-size: 2.5rem;
  color: #F2E6CE;
  margin: 0;
}

.header-tagline {
  font-size: 1.2rem;
  color: #F2E6CE;
  margin-top: 10px;
}

.header-art-container {
  max-width: 200px; /* Adjust this to control the size of the image */
  margin: 0 auto; /* Centers the art */
} 
.header-art {
  width: 100%; /* Adjust size to fit the header */
  margin-top: 10px;
}

  

  