/* Color Palette: Emphasis on Dark Gray */:root {
  --near-black: #1A1A1A;
  --dark-gray: #333333;
  --medium-gray: #666666;
  --light-gray: #EEEEEE;
  --white: #FFFFFF;
}.navbar {
  background-color: var(--near-black);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-bottom: 2px solid var(--dark-gray);
  flex-wrap: wrap;
}.navbar-list {
  list-style-type: none;
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
}.nav-link.active  {/* Style the active link */
  background-color: var(--medium-gray);
  color: var(--white);}
