/* App-wide styles (global) */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Optional Animation for Logo */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Font Face for Garet */
@font-face {
  font-family: 'Garet';
  src: url('/fonts/Garet-Regular.woff2') format('woff2'),
       url('/fonts/Garet-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Garet';
  src: url('/fonts/Garet-Bold.woff2') format('woff2'),
       url('/fonts/Garet-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

/* Media Queries for Responsive Layout */
@media (max-width: 600px) {
  .App {
    padding: 10px;
  }

  body {
    font-family: 'Geologica', sans-serif; /* Apply the Geologica font globally */
    color: #333; /* Global text color */
    background-color: #ffffff; /* Global background color */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  .header, .footer {
    padding: 10px;
    font-size: 1rem;
  }

  h2 {
    font-size: 1.8rem; /* Adjusted for mobile */
  }

  h3 {
    font-size: 1.3rem;
  }

  .navbar {
    flex-direction: column;
  }
}
